/*
**overlay mixin
*/

@mixin overlay($color, $alpha, $countIndex :0) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $color, $alpha: $alpha);
    z-index: $countIndex;
}


/*
** prefixes mixin
*/

@mixin prefixer($prop, $val, $prefixes:( webkit moz ms o)) {
    #{$prop}: $val;
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $prop}: $val
    }
}


/*
** animation mixin
*/

@mixin keyFrame($animation-name, ) {
    @keyframes #{$animation-name} {
        @content;
    }
}


/*
** media query mixins
*/

@mixin minSmallScreen {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin maxSmallScreen {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mediumScreen {
    @media (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin largeScreen {
    @media (max-width: 1171px) {
        @content;
    }
}