/*
** media query sizing
*/

$maxMobile:"(max-width:767)";
$maxSmall:"(max-width:991)";
$minSmall:"(max-width:678)";

/*
** colors
*/

$blackColor:#151515;
$redColor: #e52029;
$greenColor: #6fd02c;
$whiteColor: #fff;

/*
** font size
*/

$mainSize: 60.5%;