@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    @include prefixer(box-sizing,
    border-box);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
}

::selection {
    background-color: $redColor;
    color: $whiteColor;
}

html {
    font-size: $mainSize;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

a {
    text-decoration: none;
    color: $blackColor;
}